<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Agregar Categoria</h3>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
      <div class="card-body">
        
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre <span class="text-danger">*</span></label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control"  placeholder="Ingresa un Nombre de la Categoria">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Descripción</label>
            <input type="text" [(ngModel)]="description" name="description" class="form-control" placeholder="Ingresa una descripción">
          </div>
       
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="createCategorie()">Guardar</button>
        
      </div>
    </form>
    
  </div>

