
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Agregar Cliente</h3>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form >
      <div class="card-body">
     
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre <span class="text-danger">*</span></label>
          <input type="text" [(ngModel)]="client.name" name="name" class="form-control"  placeholder="Ingresa un Nombre del Producto">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Apellidos<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="client.lastName" name="lastName" class="form-control" placeholder="Ingresa los apellidos">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Dni<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="client.dni" name="dni" class="form-control" placeholder="Ingresa el dni">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Ruc</label>
            <input type="text" [(ngModel)]="client.ruc" name="ruc" class="form-control" placeholder="Ingresa el Ruc">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email<span class="text-danger">*</span></label>
            <input type="email" [(ngModel)]="client.email" name="email" class="form-control" placeholder="Ingresa el email">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Teléfono<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="client.phone" name="phone" class="form-control" placeholder="Ingresa el teléfono">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Dirección<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="client.address" name="address" class="form-control" placeholder="Ingresa la Dirección">
          </div>
       
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="createClient()">Guardar</button>
        
      </div>
    </form>
    
  </div>


